<html><head><title>latin poetry / text-to-speech</title></head>
<body bgcolor=#ffffff alink=#808080 link=#808080 vlink=#808080>
<center><table width=0% bgcolor=#99ccff><tr><td>&nbsp;</td><td>
<font face="verdana, helvetica, arial, sans-serif">
<font color=#ffffff size=3>&nbsp;<p>poeta ex machina.</b></font>
<font size=2 color=#000000><div align=right>
listen to latin poetry chanted.<br>
mp3s from any text, any meter.<br><br></b>
<a href="about.html"><i>about >></i></a><p></div>
<form action="synth" method="GET">
<textarea name="text" rows="7" cols="55"
style="background-color: rgb(153,204,255); color: rgb(0,0,0);
font-size: 9pt; font-family: courier new, courier, monospace">
Arma virumque cano, Troiae qui primus ab oris
Italiam fato profugus Laviniaque venit
litora: multum ille et terris iactatus et alto
vi superum, saevae memorem Iunonis ob iram,
multa quoque et bello passus, dum conderet urbem
inferretque deos Latio; genus unde Latinum
Albanique patres atque altae moenia Romae.</textarea><p align=center>(meter)
<input type=text name=meter value='lrlrlrlrlrla'
style="background-color: rgb(153,204,255); color: rgb(0,0,0);
font-size: 9pt; font-family: courier new, courier, monospace"></input>
<font color=#99ccff>(meter)</font>
<br><br><input type="submit" value="&nbsp; &nbsp; &gt;&gt; &nbsp; &nbsp;">
</form></font></font>&nbsp;</td><td>&nbsp;</td></tr></table>
<p>
You might like to <a href="http://nodictionaries.com">read with adjustable interlinear vocab</a><br>
or <a href="/font/index.html">see a browser-based font for Ancient Greek</a> also.
</center></body></html>
